* {
    box-sizing: initial;
    margin: 0;
    padding: 0;
}
head{
    background-color: transparent;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: right;
}
.logo {
    width: 100px;
    height: auto;
    margin-top: 3px;
    left: 30px;
    margin-top: 5px;
    margin-left: 30px;
    position: absolute;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); */
    filter: drop-shadow(5px 5px 10px rgba(97, 96, 96, 0.5));  
    background-color: transparent;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Your brand color */
    padding: 35px 20px;

  }

.about-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    text-align: center;
    color: #253b74;
}

.content h2 {
    margin-top: 20px;
    color: #91be3f;
}

.content p, .content li {
    margin-bottom: 15px;
}

a {
    color: #253b74;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    margin-right: 20px;
}
